nav{
    min-width: 100vw;
    padding: 2rem;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: var(--main-font-color);
    /* border: 1px solid red; */
}

.nav-ul{
    list-style-type: none;
    min-width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 700;
}

.link-style{
    color: var(--detail-font-color);
    text-decoration: underline 1.5px;
}